<div class="about-page">

    <form id="form" action="" method="post">
        <div class="form-group">
            <label for="name">Full name</label>
            <input name="first_name" type="password" class="form-control" id="name" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="textarea">Message</label>
            <textarea name="message" id="textarea" class="form-control" rows="3"></textarea>
        </div>

        <div class="alert alert-success" id="succ" role="alert"></div>
        <div class="alert alert-danger" id="dan" role="alert"></div>

        <div class="clearfix"><button id="submiter" type="button" ng-click="formation()" class="btn btn-default btn-danger pull-right"><i class="fa fa-spinner fa-spin" style="display: none"></i> Submit</button></div>

        <!--  First Name: <input type="text" name="first_name"><br>
          Last Name: <input type="text" name="last_name"><br>
          Email: <input type="text" name="email"><br>
          Message:<br><textarea rows="5" name="message" cols="30"></textarea><br>
          <input type="button" ng-click="formation()" name="submit" value="Submit">
          -->
    </form>


<!--    <form role="form" id="form">
        <div class="form-group">
            <label for="name">Full name</label>
            <input name="name" type="password" class="form-control" id="name" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="textarea">Message</label>
            <textarea name="area" id="textarea" class="form-control" rows="3"></textarea>
        </div>
        <button type="button" ng-click="formation()" class="btn btn-default btn-danger pull-right">Submit</button>
    </form>

    -->
</div>